attrs==20.3.0
google-api-python-client==1.5.3
httplib2==0.19.0
iniconfig==1.1.1
numpy==1.20.2
oauth2client==3.0.0
packaging==20.9
pandas==1.2.4
pluggy==0.13.1
py==1.10.0
pyasn1==0.1.9
pyasn1-modules==0.0.8
pyparsing==2.4.7
pytest==6.2.3
pytest-runner==2.9
python-dateutil==2.8.1
pytz==2021.1
rsa==4.1
simplejson==3.8.2
six==1.10.0
toml==0.10.2
uritemplate==0.6
